<header
  class="mb-6 border-bottom border-iota pb-3 d-flex align-items-center justify-content-start gap-4"
>
  <img class="logo" alt="logo of the app" src="/razzbeary_logo.png" />
  <h2 class="m-0 p-0">Razzbeary</h2>
</header>
