<!DOCTYPE html>
<html>
  <head>
    <title>Add a new film</title>
    <%- include("./partials/head.ejs") %>
    <style>
      main {
        width: 94%;
        max-width: 50rem;
        margin: 4rem auto;
      }
      .preview-img {
        height: 30rem;
        width: 20rem;
        object-fit: cover;
        object-position: center;
      }
    </style>
  </head>
  <body class="container">
    <main>
      <%- include("./partials/header.ejs") %>
      <img
        id="thumbnail-preview"
        src=""
        class="card-img-show d-block mb-4 rounded bg-gamma preview-img"
        alt="Thumbnail preview"
      />
      <form action="/new" method="POST">
        <div class="mb-4">
          <label>Title:</label>
          <input
            type="text"
            name="title"
            class="w-100 d-block p-4 color-alpha bg-beta border border-iota rounded"
            required
          />
        </div>
        <div class="mb-4">
          <label>Thumbnail (Image URL):</label>
          <input
            type="text"
            name="thumbnail"
            id="thumbnail-input"
            class="w-100 d-block p-4 color-alpha bg-beta border border-iota rounded"
            placeholder="Enter image URL"
            required
          />
        </div>

        <div class="mb-4">
          <label>Notes:</label>
          <textarea
            name="notes"
            class="w-100 d-block p-4 color-alpha bg-beta border border-iota rounded"
          ></textarea>
        </div>
        <button type="submit" class="mt-4 w-100 bg-success color-beta">
          Add Movie
        </button>
      </form>
    </main>
    <%- include("./partials/nav.ejs") %> <%- include("./partials/footer.ejs") %>

    <script>
      const thumbnailInput = document.getElementById("thumbnail-input");
      const thumbnailPreview = document.getElementById("thumbnail-preview");

      thumbnailInput.addEventListener("input", () => {
        const url = thumbnailInput.value.trim();
        if (url) {
          thumbnailPreview.src = url;
          thumbnailPreview.style.display = "block";
        } else {
          thumbnailPreview.style.display = "none";
          thumbnailPreview.src = "";
        }
      });
    </script>
  </body>
</html>
